Required Features: [In order of Importance]

Window Seperations, I.E. Being able to seperate notepad from main window.

Window Pinning, Allow for windows to be pinned so that they are always on top.

Notepad Saving, Ability to Save notepad text as txt file.

Notepad Formatting, Allow for bullet points, bold, italic, etc.

Settings Menu + Saving to Application Settings

Multi Clipboard

Ability to Run Python Scripts from Folder (Existing Python Install Location can be added in settings menu.)

Macros?

Google Drive Integration
