Required Features: [In order of Importance]

Notepad Saving, Ability to Save notepad text as txt file.

Settings Menu + Saving to Application Settings

Multi Clipboard

Ability to Run Python Scripts from Folder (Existing Python Install Location can be added in settings menu.)

Macros?

Google Drive Integration
